h1{
    color:red;
    font-size: 30px;
}

h2{
    color:aqua;
    font-size: 20px;

}

p{
    color:yellow;
    font-size:50px;
}

b{
    color:green;
    
}

h3,p{
    color:rgb(255, 0, 153);
    font-size: 50px;
}

#id1{
    color:red;
    font-size: 60px;
}

#id2{
    color:aqua;
    font-size: 40px;
}

.c1{
    color:darkblue;
    font-size: 40px;
}

input[type="text"]{
border:5px solid red;
}


p{
    background-color: green;
}


a
{background-color:yellow;}

a:link{color:red;}

a:active{color:blue;}

a:visited{color:black;}

a:hover{color:maroon;
	font-size:large;}