body{ 
    background-image:url("./butterfly.jpg"); 
    background-repeat: no-repeat;
    background-size: contain;
    }

button { 
    opacity:0.5; 
        }

button:hover {
     opacity:1.0; 
    }

h1 {
    background-color:red;
    opacity:0.5; 
    }