h1{
    color:red;
    font-size: 30px;
}

h2{
    color:aqua;
    font-size: 20px;

}

p{
    color:yellow;
    font-size:50px;
}

b{
    color:green;
    
}

h3,p,b{
    color:rgb(38, 0, 255);
    font-size: 50px;
}

#id1{
    color:rgb(255, 251, 0);
    font-size: 60px;
}

#id2{
    color:aqua;
    font-size: 40px;
}

.c1{
    color:darkblue;
    font-size: 40px;
}

input[type="text"]{
border:2px solid rgb(166, 255, 0);
}


p{
    background-color: green;
}


a
{background-color:yellow;}

a:link{color:red;}

a:active{color:blue;}

a:visited{color:black;}

a:hover{color:maroon;
	font-size:large;}


img
{
border:red dotted;
border-radius: 30px;
border-bottom-style: groove;
}

table{
    border-spacing: 5px;
    border-color: rgb(43, 5, 148);
    border-top-style: dashed;
    border-radius: 4px;
    border-width: 6px;
}



img
{
border-color:rgb(207, 11, 119);
border-style:dashed;
border-width:5px;
}

img:hover{
	width:500px;
	height:500px;
}