

/* BACKGROUND PROPERTY */
.c1{
    height:400px;
    width:600px;
    border-color: orange;
    font-size: 25px;
    color: blueviolet;
    padding: 40px;
    border:20px dotted greenyellow;
    background-image: url("./ball.jpg");
    




}