/* h1{
    color:pink;
    font-size: 20px;
}

h2{
    color:aqua;
    font-size: 40px;
} */

/* 
p{
    color:blueviolet;
    font-size: 30px;
} */


.c1{
    height:400px;
    width:600px;
    border-color: orange;
    font-size: 25px;
    color: blueviolet;
    


}